.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.card button i {
    margin-right: 5px;
}
#entrar {
    background-color: #FF8008;
    border: none;
    color: rgb(0, 0, 0);
}
#google {
    background-color: #cf4332;
    border: none;
    color: rgb(0, 0, 0);
}
#entrar:hover {
    background-color: #FFC837;
    color: rgb(24, 24, 24); 
}
#google:hover {
    background-color: #ff5542;
    border: none;
    color: rgb(24, 24, 24); 
}

#mainLogo {
    width: 70px;
}

h5 {
    font-size: 2rem;
}