<app-nav></app-nav>
<div class="row pt-3">
    <section *ngIf="userExists">
        <div class="container py-5">      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img [src]="userData.pfp.stringValue" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{userData.name.stringValue}}</h5>
                  <p class="text-muted mb-1">{{userData.biography.stringValue}}</p>
                  <div class="d-flex justify-content-center mb-2 mt-2">
                    <button type="button" class="btn btn-primary customButton goldenButton">Hablar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
                  <div class="row" *ngFor="let post of userPosts">
                    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                      <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4 requadre-imatge">
                            <a (click)="goToSpotify(post.track.mapValue.fields.link.stringValue)">
                                <img
                                [src]="post.track.mapValue.fields.image.stringValue"
                                [alt]="post.track.mapValue.fields.title.stringValue"
                                class="img-fluid rounded-start"
                                />
                            </a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text">
                                {{post.content.stringValue}}
                              </p>
                              <p class="card-text mt-0 mb-0 song-title">
                                <a (click)="goToSpotify(post.track.mapValue.fields.link.stringValue)"><i class="fab fa-spotify"></i> {{post.track.mapValue.fields.title.stringValue}} <small class="text-muted">{{post.track.mapValue.fields.artist.stringValue}}</small></a>
                              </p>
                              <p class="card-text">
                                <small class="text-muted">Publicado por <a [routerLink]="['/u/'+post.username.stringValue]">@{{post.username.stringValue}}</a> el {{post.publishDate.timestampValue.split('T')[0]}}.</small>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </section>
      <div *ngIf="!userExists" class="col-sm-9 col-md-9 col-lg-9 mx-auto">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Usuario no encontrado!</h5>
            <p class="card-text">El usuario que has intentado buscar no existe.</p>
            </div>
        </div>
        <div class="mt-2">
            <a [routerLink]="['/home']" class="btn btn-primary customButton">Volver al inicio</a>
        </div>
    </div>
</div>