@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #FF8008;
    background: -webkit-linear-gradient(to left, #FFC837, #FF8008);
    background: linear-gradient(to left, #FFC837, #FF8008);
    overflow-x: hidden;
    font-family: 'Inter';
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

/* Dark cards */
.card {
    background-color: #181818;
    color: #fff;
}
.card input {
    background-color: #292929;
    border: none;
    color: #fff;
}
.card input:focus {
    background-color: #292929;
    color: #fff;
}

.row {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}