<app-nav></app-nav>
<div class="row pt-3">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.albumoftheyear.org%2Falbum%2F496273-un-verano-sin-ti-1.jpg&f=1&nofb=1"
              alt="Trendy Pants and Shoes"
              class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">
                perdón ya salí de mi cuadro depresivo de cuatro meses jeje ora sí cuándo nos vemos??
              </p>
              <p class="card-text mt-0 mb-0 song-title">
                <i class="fab fa-spotify"></i> Tití Me Preguntó <small class="text-muted">Bad Bunny</small>
              </p>
              <p class="card-text">
                <small class="text-muted">Publicado por <a href="#">@gabii.franco</a> el 01/06/2022.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd24jnm9llkb1ub.cloudfront.net%2Ficpn%2F194491773830%2F194491773830-cover-zoom.jpg&f=1&nofb=1"
              alt="Trendy Pants and Shoes"
              class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">
                Estoy hasta los cojones de aguantar a gilipollas pero cuántos hay en el mundo? no paran de salir.
              </p>
              <p class="card-text mt-0 mb-0 song-title">
                <i class="fab fa-spotify"></i> Con Ropa <small class="text-muted">Soto Asa</small>
              </p>
              <p class="card-text">
                <small class="text-muted">Publicado por <a href="#">@gabii.franco</a> el 01/06/2022.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

